# Define our endpoints
QDRANT_API_URL="http://127.0.0.1:6333"
REDIS_API_HOST='127.0.0.1'
REDIS_API_PORT=6379
PDF_INSPECTOR_URL="http://127.0.0.1:5555"

# Define our secrets
OPENAI_API_KEY="sk-proj-70Zdc7m6K4X1p-sdfsfsfsdf"

# Define our document
PDF_FILE_NAME="Taylor Schneider - One Pager Accenture CV 2024 - External.pdf"

# Define some other configurations
QDRANT_COLLECTION_NAME="test_collection"