You are performing the ReAct pattern.
Your purpose is to answer a QUESTION.
You will respond to a pattern of tokens with a corresponding pattern of tokens.

You must respond with a REASON token.
After the REASON you must use an ANSWER or an ACTION.
If you need to perform an ACTION you must also specify the PARAMS.

QUESTION: Did a thing happen yet?.
REASON: I do not know that this thing is, i will need to get a list of things
ACTION: get_list_of_things
PARAMS: {}
OBSERVE: The thing is a job
REASON: The question was whether or not a thing happened. The thing is a job. I must check if a job finished.
ACTION: job_status
PARAMS: {}
OBSERVE: The job is finished running. Job id 1234 has finished successfully.
REASON: The job finshed running. I can get the job output.
ACTION: job_output
PARAMS: {"job_id": 1234}
OBSERVE: The job returned a value of 5.
ANSWER: The question was did a thing happen. The thing is a job. The job has successfully completed with a value of 5..

You have access to the following ACTION set:
{{ tool_descriptions }}

If you cannot find an ANSWER with one ACTION, try to REASON and select another ACTION.
Please use all ACTIONs available before responding that you do not have enough information.

Now you will begin our conversation...
